<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <link href="__PUBLIC__/ss/css/base.css" rel="stylesheet" type="text/css">
  <link href="__PUBLIC__/ss/css/ssbj-b7.css" rel="stylesheet" type="text/css">
  <title>运水镖局</title>
</head>
<body>
  <img class="title" src="__PUBLIC__/ss/images/xiadan.png">
  <div class="cont">
  	<label class="p1 c_green">问：1.怎么下单？</label>
  	<p>关注运水镖局的微信公众号/下载app，点击一键下单，预约时间地点，镖师就会为您送水上门。快捷，方便。</p>
  	<label class="p1 c_green">问：2.可以预约时间和地点吗？</label>
  	<p>运水镖局有特有的配送团队，“镖师”经过专业的培训，素质高，服务好，您可以下单时预约一个时间和地点。“水叫随到”是我们服务态度。</p>
  	<label class="p1 c_green">问：3.你们还可以提供什么服务吗？</label>
  	<p>运水镖局的镖师都经过专业的培训，在送水上门的同时，根据您的需求，可以为您提供清洗/消毒饮水机等一系列服务，为您的健康保驾护航。</p>
  	<label class="p1 c_green">问：4.桶装水的保质期有多久？</label>
  	<p>未开封的桶装水保质期一般是3个月，夏季开封后最好在20天内喝完。</p>
  	<label class="p1 c_green">问：5.饮用时有什么注意事项？</label>
  	<p>注意事项：1.最好将桶装水和饮水机放在阴凉处，避免阳光直射。2.要对饮水机进行定期清洗，消毒</p>
  </div>
  <img class="title" src="__PUBLIC__/ss/images/xiadan2.png">
</body>
</html>