
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>回车站</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="__PUBLIC__/Admin/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Admin/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="__PUBLIC__/Admin/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__PUBLIC__/Admin/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<include file="public:header"   />

<div class="am-cf admin-main">

<include file="public:nav"   />

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">回车站</strong></div>
    </div>


    <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table">
          <thead>
            <tr>
              <th>ID</th><th>产品名</th><th>原价</th><th>现价</th><th>说明</th><th>操作</th>
            </tr>
          </thead>
            <tbody>
            <tr>
      <foreach name='bot' item='v'>
              <td>{$v.id}</td>
              <td>{$v.name}</td>
              <td>{$v.price}</td>
              <td>{$v.newprice}</td>
              <td>{$v.content}</td>
              <td>
              <div class="am-dropdown" data-am-dropdown>
                  <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                 <ul class="am-dropdown-content">
                    <li>
                       <a href="{:U('/Home/Bot/gotrach', array('id' => $v['id']))}">1. 直接删除</a>
                    </li>
                    <li>
                       <a href="{:U('/Home/Bot/outtrach', array('id' => $v['id']))}">2. 还原产品</a>
                    </li>
                 </ul>
              </div>
              </td>
            </tr>
      </foreach>
            </tr>
          </tbody>
        </table>
<!--         <div class="pagination">
　    　{$page}
       </div> -->
      </div>
    </div>


          <div>
              <tbody>
              &nbsp;
              </tbody>
          </div>
          <div>
              <tbody>
              &nbsp;
              </tbody>
          </div>
          <div>
              <tbody>
              &nbsp;
              </tbody>
          </div>
          <div>
              <tbody>
              &nbsp;
              </tbody>
          </div>
          <div>
              <tbody>
              &nbsp;
              </tbody>
          </div>
        </div>
      </div>



   
<!-- content end -->
</div>
<include file="public:ou"   />
</body>
</html>
